<h1> Update Password </h1>
<%= form_for @user, url: update_password_path do |f| %>
  <%= f.label :password, "New Password" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm New Password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Update Password" %>
<% end %>
