<h1><%= current_user.name %>'s Profile</h1>
<p><%= current_user.address %></p>
<p><%= current_user.city %></p>
<p><%= current_user.state %></p>
<p><%= current_user.zip %></p>
<p><%= current_user.user_name %></p>
<p><%= link_to "Edit Profile", edit_profile_path %></p>
<p><%= link_to "Change Password", edit_password_path %></p>

<% if current_user.orders.any? %>
<p><%= link_to "My Orders", '/profile/orders' %></p>
<% end %>
