<h1>Customer Name: <%= @order.user.name %></h1>
<p>Customer Address: <%= @order.user_address(@order) %></p>

<p>Items Purchased</p>
<% @order.merchant_items(@merchant).each do |item| %>
  <p>Item Name: <%= link_to item.name, item_path(item) %></p>
  <%= link_to image_tag(item.image), item_path(item) %>
  <p>Price: <%= item.price %></p>
  <p>Quantity: <%= item.item_quantity(@order) %></p>
  <p>Status: <%= item.item_status_message(@order) %></p>
      <% if item.item_status(@order) == false && (item.item_quantity(@order) < item.inventory) %>
        <%= link_to "Fulfill", order_item_fulfillment_path(item_id: item.id), method: :patch %>
      <% elsif item.item_quantity(@order) >= item.inventory %>
        <p>The desired quantity of this order is too high to fulfill</p>
      <% else %>
    <% end %>
<% end %>
