<h1>Customer Name: <%= @order.user.name %></h1>
<p>Customer Address: <%= @order.user_address(@order) %></p>

<p>Items Purchased</p>
<% @order.merchant_items(@merchant).each do |item| %>
<p>Item Name: <%= link_to item.name, item_path(item) %></p>
<img src="<%="#{item.image}"%>">
<p>Price: <%= item.price %></p>
<p>Quantity: <%= item.item_quantity %></p>
<% end %>
