<% if @merchant %>
  <h1>All Items From <%= link_to @merchant.name, "/merchant/#{@merchant.id}" %></h1>
  <%= link_to 'New Item', "/merchants/#{@merchant.id}/items/new" %>
<% else %>
  <h1>All Items</h1>
<% end %>

<% @items.each do |item| %>
  <section id='item-<%= item.id%>'>
    <% if item.active? %>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p><%= item.description %></p>
    <%= link_to image_tag(item.image), item_path(item) %>
    <p>Price: <%= number_to_currency(item.price) %></p>
    <p>Sold by: <%= link_to item.user.name, "/merchants/#{item.user_id}" %>, Inventory: <%= item.inventory %></p>
    <% else %>
    <% end %>
  </section>
<% end %>

<section id='popular'>
  <h3>Popular Items</h3>
  <ul><% @top_five.each do |item| %>
    <li>Item: <%= item.join(", Quantity: ") %></li>
  <% end %></ul>
</section>

<section id='least-popular'>
  <h3>Least Popular Items</h3>
  <ul><% @bottom_five.each do |item| %>
    <li>Item: <%= item.join(", Quantity: ") %></li>
  <% end %></ul>
</section>
